# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#mixed
*.zip

#Microsoft specific
GeneratedFiles/
x64/
.vs/
Debug/
Release/
*.db
*.pdb

#easyconfig specific
*.ini
*.txt

#no release
_releases/
_Deploy

#SA no json in source
FalconBoard/*.json
*.mwb
*.mwb~
*.pdf
*.json
*temp*
*.stash
*~